@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
}
header {
  background-color: black;
  padding: 1rem 0 0 0;
  /* height: 220px; */
}
main {
  background: #1a1a20;
}
.background,
.navbar {
  background: linear-gradient(
    90deg,
    rgba(114, 214, 245, 0.1),
    rgba(200, 193, 221, 0.1) 50%,
    rgba(255, 148, 179, 0.1)
  );

  box-shadow: 0px 5px 10px -1px #14141f;
}
.navbar a {
  font-size: 14px;
  color: white;
}

.ms-n5 {
  margin-left: -40px;
}

.btn-login {
  justify-self: end;
}
@keyframes flicker {
  0% {
    text-shadow: 0 0 5px #00dcff, 0 0 10px #00dcff, 0 0 15px #00dcff,
      0 0 30px #00dcff;
  }
  100% {
    text-shadow: 0 0 5px #09889c, 0 0 10px #09889c, 0 0 15px #09889c,
      0 0 30px #09889c;
  }
}
.navbar-nav > li > a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  animation: flicker 1s ease-in-out infinite alternate;
}

.g-1 {
  gap: 10px;
}

figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  /* width: 300px; */
}

figure:hover img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
figure:hover ~ .episode {
  background-size: 100% 250%;
  transition: 0.5s;
}

.movie-item .episode {
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;

  padding: 3px 5px 1px;
  border-top-left-radius: 5px;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    #8e2de2 0%,
    #000046 51%,
    #1cb5e0 100%
  );
  transition: 0.5s;
  font-size: 12px;

  left: 15px;
  top: 15px;
}

.entry-title {
  font-size: 12px;
}

.post-title-box {
  padding: 80px 5px 0 5px;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(6, 6, 6, 0.55) 30%,
    rgba(0, 0, 0, 0.92) 100%
  );
}

.item-link {
  width: 75px;
  height: 105px;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
.item-link img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.item:hover img {
  transform: scale(1.5);
}
.item {
  opacity: 0.8;
  background-color: #0b0b0d;
}
.item:hover {
  opacity: 1;
  /* background-color: black; */
}
.item:hover .title {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff8a00),
    to(#da1b60)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3.title {
  top: 10px;
  left: 90px;
  font-size: 13px;
}
.gradient-color {
  font-size: 16px;

  /* border-bottom: 1px solid white; */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff8a00),
    to(#da1b60)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-title {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgba(255, 249, 34),
    rgba(255, 0, 128),
    rgba(56, 2, 155, 0)
  );
  border-image-slice: 1;
  /* width: 100%; */
}

#tuesday,
#thursday,
#friday,
#saturday,
#sunday,
#wednesday,
#tuesday,
#monday {
  display: none;
}
#call-monday:checked ~ #monday {
  display: block;
}
#call-tuesday:checked ~ #tuesday {
  display: block;
}
#call-wednesday:checked ~ #wednesday {
  display: block;
}
#call-thursday:checked ~ #thursday {
  display: block;
}
#call-friday:checked ~ #friday {
  display: block;
}
#call-saturday:checked ~ #saturday {
  display: block;
}
#call-sunday:checked ~ #sunday {
  display: block;
}
@media (max-width: 992px) and (min-height: 575px) {
  .w-md-70 {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .w-sm-100 {
    width: 100%;
  }
}
