@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
#headwrap .col-md-3.slogan {
  margin-top: -5px;
  padding: 0;
}
.ms-n5 {
  margin-left: -40px;
}
