@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
}
header {
  background-color: black;
  padding: 1rem 0 0 0;
  /* height: 220px; */
}
.background,
.navbar {
  background: linear-gradient(
    90deg,
    rgba(114, 214, 245, 0.1),
    rgba(200, 193, 221, 0.1) 50%,
    rgba(255, 148, 179, 0.1)
  );

  box-shadow: 0px 5px 10px -1px #14141f;
}
.navbar a {
  color: white;
}
#headwrap .col-md-3.slogan {
  margin-top: -5px;
  padding: 0;
}
.ms-n5 {
  margin-left: -40px;
}
.btn-login {
  justify-self: end;
}
@keyframes flicker {
  0% {
    text-shadow: 0 0 5px #00dcff, 0 0 10px #00dcff, 0 0 15px #00dcff,
      0 0 30px #00dcff;
  }
  100% {
    text-shadow: 0 0 5px #09889c, 0 0 10px #09889c, 0 0 15px #09889c,
      0 0 30px #09889c;
  }
}
.navbar-nav > li > a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  animation: flicker 1s ease-in-out infinite alternate;
}
article {
  gap: 2px;
}
#movie-new {
  gap: 3px;
  /* list-style: none; */
  /* width: 100%; */
  /* padding: 0; */
  margin: 10px -2px 20px;
  /* position: relative; */
  /* overflow: hidden; */
  /* width: uto; */
  /* clear: both; */
  /* display: inline-block; */
}
.movie-item {
  /* width: 100%; */
  color: white;
  position: relative;
  /* line-height: 0; */
  border-radius: 8px;
  background-color: #14141f;
  overflow: hidden;
  /* height: 200px; */
}
figure {
  /* border-radius: 7px; */

  /* width: 100%; */
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.5s ease-in-out;
  /* width: 300px; */
}
figure:hover img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
figure:hover ~ .episode {
  background-size: 100% 250%;
  transition: 0.5s;
}
.movie-item a {
  color: white;
}
.movie-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 118.3%); */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.movie-item .episode {
  /* background: rgb(71, 132, 19); */
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
  color: #fff;
  padding: 3px 5px 1px;
  border-top-left-radius: 5px;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    #8e2de2 0%,
    #000046 51%,
    #1cb5e0 100%
  );
  transition: 0.5s;
  font-size: 11px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.entry-title {
  font-size: 12px;
}
/* a.movie-thumb {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.7s ease;
  width: 100%;
} */

.post-title-box {
  /* padding: 2px 5px; */

  position: absolute;
  /* line-height: 18px; */

  padding: 80px 5px 0 5px;
  margin: 0;
  width: 100%;
  height: auto;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(6, 6, 6, 0.55) 30%,
    rgba(0, 0, 0, 0.92) 100%
  );
}
